<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1000,
        once: false,
    });
</script>
<section class="section-padding" id="portfolio">
    <div class="container">
        <div class="row">

            <h1 class="title">Meet the Team</h1>

            <div class="col-md-15">
                <div class="portfolio-thumb mb-4" data-aos="fade-right">
                    <a href="/images/portfolio/portfolio1.jpg" class="image-popup">
                        <img src="/images/portfolio/portfolio1.jpg" class="img-fluid portfolio-image" alt="Portfolio 1">
                    </a>
                    <div class="portfolio-info text-center">
                        <h4 class="portfolio-title">Team games </h4>
                        <p class="text-danger"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="portfolio-thumb mb-4" data-aos="fade-left">
                    <a href="/images/portfolio/portfolio2.png" class="image-popup">
                        <img src="/images/portfolio/portfolio2.png" class="img-fluid portfolio-image" alt="Portfolio 2">
                    </a>
                    <div class="portfolio-info text-center">
                        <h4 class="portfolio-title">Mark Himel</h4>
                        <p class="text-success">President</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="portfolio-thumb mb-4" data-aos="fade-right">
                    <a href="/images/portfolio/portfolio3.png" class="image-popup">
                        <img src="/images/portfolio/portfolio3.png" class="img-fluid portfolio-image" alt="Portfolio 3">
                    </a>
                    <div class="portfolio-info text-center">
                        <h4 class="portfolio-title">Alex Rupom</h4>
                        <p class="text-warning">Vice-President</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="portfolio-thumb mb-4" data-aos="fade-left">
                    <a href="/images/portfolio/portfolio4.png" class="image-popup">
                        <img src="/images/portfolio/portfolio4.png" class="img-fluid portfolio-image" alt="Portfolio 4">
                    </a>
                    <div class="portfolio-info text-center">
                        <h4 class="portfolio-title">Ronald Tudu</h4>
                        <p class="text-info">Vice-President</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-thumb mb-4" data-aos="fade-left">
                    <a href="" class="image-popup">
                        <img src="" class="img-fluid portfolio-image" alt="Portfolio 4">
                    </a>
                    <div class="portfolio-info text-center">
                        <h4 class="portfolio-title">Ronald Tudu</h4>
                        <p class="text-info">Vice-President</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>