@model TeamMaker_WebApp.Models.Player

<h2>Player Details</h2>
<p><strong>Player Name:</strong> @Model.PlayerName</p>
<p><strong>Position:</strong> @Model.Position</p>
<p><strong>Jersey Number:</strong> @Model.Number</p>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
